#myInput {
  background-image: url('/css/searchicon.png'); /* Добавить значок поиска для ввода */
  background-position: 10px 12px; /* Расположите значок поиска */
  background-repeat: no-repeat; /* Не повторяйте изображение значка */
  width: 100%; /* Полная ширина */
  font-size: 16px; /* Увеличить размер шрифта */
  padding: 12px 20px 12px 40px; /* Добавить немного отступов */
  border: 1px solid #ddd; /* Добавить серую границу */
  margin-bottom: 12px; /* Добавить некоторое пространство под входом */
}

#myUL {
  /* Удалить стиль списка по умолчанию */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Добавить границу для всех ссылок */
  margin-top: -1px; /* Предотвращение двойных границ */
  background-color: #f6f6f6; /* Серый цвет фона */
  padding: 12px; /* Добавить немного отступов */
  text-decoration: none; /* Удалить подчеркивание текста по умолчанию */
  font-size: 18px; /* Увеличьте размер шрифта */
  color: black; /* Добавить черный цвет текста */
  display: block; /* Сделайте его в элемент блока, чтобы заполнить весь список */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Добавить эффект наведения на все ссылки, кроме заголовков */
}